:root{
    --teal: rgb(91, 82, 220);
    --teal_hover:#279e8c;
}
*{
 font-family: 'Poppins', sans-serif;
 }
.h-font{
font-family: 'Merienda', cursive;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-apperance: textfield;
}

.custom-bg{
background-color: var(--teal);
border:1px solid var(--teal);
}
.custom-bg:hover{
 background-color: var(--teal_hover);
 border-color:var(--teal_hover);
}
.h-line{
    width:150px;
    margin:0 auto;
    height:1.7px;
}

.custom-alert {
    position: fixed;
    top: 70px;
    right: 25px;
}

#dashboard-menu {
    position: fixed;
    height: 100%;
    z-index: 11;
}

@media screen and (max-width:991px) {
    #dashboard-menu {
    height: auto;
    width: 100%;
}
#main-content {
    margin-top: 60px;
}
}



.bgcolor-sidebar{
    background-color: #0077B6 !important;
}


.bg-light{
    background-color: #D9E5F2 !important;
}

.headercolor{
    background-color: #005F8A !important;
}